*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}

a{
    text-decoration:none;
    color:inherit;
}

header{
    background:#fff;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h1{
    color: #F5A462;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.25);
    font-size: 48px;
}

h2{
    font-size: 30px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.menu{
    display:flex;
    gap:30px;
}

.menu a{
    transition:0.3s;
}

.menu a:hover{
    color:#28b6d1;
}

.hero{
    background:#28b6d1;
    height:500px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
}



.hero-text{
    padding-left:8%;
    max-width:600px;
}

.hero-text h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero-text h2{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.10);
}

.hero-text p{
    padding-top:25px;
    margin-bottom:25px;
    line-height:35px;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.25);
}

.btn{
    display:inline-block;
    background: white;
    color: #F5A462;
    padding:12px 24px;
    border-radius:6px;
    transition:0.3s;
    box-shadow:0 4px 12px rgba(0,0,0,0.25);
}

.btn:hover{
    transform:scale(1.1);
}

.hero-img{
    margin-right:8%;
}

.hero-img img{
    height:500px;
    width:auto;
    display:block;
}

section{
    padding:70px 8%;
}

.titulo{
    font-size:40px;
    color:#f39c4a;
    text-align:center;
    position:relative;
    display:inline-block;
    margin-bottom:40px;
}

.titulo::after{
    content:"";
    display:block;
    width:120px;
    height:3px;
    background:#f3d5c0;
    margin:12px auto 0;
    border-radius:10px;
}

.servicos{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card-servico{
    width:180px;
    height:120px;
    background:#85dceb;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:0.3s;
    cursor:pointer;
}

.card-servico:hover{
    transform:scale(1.08);
}

.titulo-an{
    text-align:center;
    position:relative;
    margin:50px 0;
}

.titulo-an h2{
    color:#2f3b4c;
    font-size:42px;
    font-weight:600;
    margin-bottom:10px;
}

.titulo-an::after{
    content:"";
    display:block;
    width:500px;
    height:2px;
    background:#cfcfcf;
    margin:5px auto 0;
}

.animais{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card-animal{
    width:260px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    text-align:center;
    transition:0.3s;
}

.card-animal:hover{
    transform:scale(1.05);
}

.card-animal img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-animal h3{
    margin-top:15px;
}

.card-animal p{
    padding:10px 15px;
    font-size:14px;
}

.card-animal a{
    margin:15px;
}

.btn-an{
    display:inline-block;
    background:#27b9d3;
    color:white;
    padding:8px 30px;
    border:none;
    border-radius:4px;
    font-size:14px;
    font-weight:500;
    cursor:pointer;
    text-decoration:none;
    box-shadow:0 2px 5px rgba(0,0,0,0.25);
    transition:all 0.3s ease;
}

.btn-an:hover{
    transform:scale(1.05);
    background:#1fa8c0;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.ver-mais{
    text-align:center;
    margin-top:30px;
}

.impacto{
    background:#28b6d1;
    height:500px;
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
}

.impacto-img{
    position:absolute;
    left:15%;
    bottom:0;
    z-index:1;
}

.impacto-img img{
    height: 400px;
    width:auto;
    display:block;
}

.impacto-content{
    width:100%;
    padding-left:450px;
    padding-right:8%;
    z-index:2;
}

.impacto-cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.impacto-card{
    width:180px;
    background:#fff;
    border-radius:10px;
    padding:25px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.12);
    transition:.3s;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:900px){

    .hero{
        flex-direction:column;
        text-align:center;
        gap:40px;
    }

    .hero-text h1{
        font-size:38px;
    }

    header{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:15px;
    }

    .menu{
        flex-wrap:wrap;
        justify-content:center;
    }
}